/Se2038Session/nbproject/private/
/Se2038Session/build/
/SE2038_StudentManagement/nbproject/private/
/SE2038_StudentManagement/build/
/SE2038_StudentManagement/dist/
/SE2038_ProductManagement/nbproject/private/
/SE2038_ProductManagement/build/
